button {
	height: 28px;
	width: 89px;
	margin: 12px 7px;
	padding: 1px;
	color: white;
	background-color: dodgerblue;
	box-shadow: 2px black;
	border: 3px solid gray;
	border-radius: 20px;
	font-weight: bold;
	cursor: pointer;
	font-family: 'Acme', sans-serif;
	font-size: 10px;
}

.blogitems{
    margin: 28px;
}

.blogcontainer {
	margin: 12px 32px;
}